process {
    withName: 'downloadSraFastq' {
        cpus = 4
        memory = 8.GB
    }
    withName: 'interleave' {
        cpus = 4
        memory = 8.GB
    }
    withName: 'concatenate' {
        cpus = 4
        memory = 8.GB
    }
    withName: 'correctHeaders' {
        cpus = 4
        memory = 8.GB
    }
    withName: 'countReads' {
        cpus = 1
        memory = 4.GB
    }
    withName: 'countReadsSummary' {
        cpus = 1
        memory = 4.GB
    }
    withName: 'metaphlan2' {
        cpus = 16
        memory = 32.GB
    }
    withName: 'HUMAnN2_DB' {
        cpus = 16
        memory = 120.GB
    }
    withName: 'HUMAnN2' {
        cpus = 16
        memory = 120.GB
    }
    withName: 'HUMAnN2summary' {
        cpus = 16
        memory = 120.GB
    }
    withName: 'diamond' {
        cpus = 32
        memory = 240.GB
    }
    withName: 'famli' {
        cpus = 16
        memory = 120.GB
    }
    withName: 'summarizeExperiment' {
        cpus = 32
        memory = 240.GB
    }
    withName: 'addHUMAnN2toHDF' {
        cpus = 32
        memory = 240.GB
    }
}
