profiles{
    // IN this system, use docker locally by default
    standard {
        process {
            executor = 'local'
            withLabel: 'io_limited' {
                cpus = 1
                memory = 4.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 2
                memory = 16.GB
            }
        }
        docker {
            enabled = true
            temp = 'auto'
        }
    }
    testing {
        process {
            executor = 'local'
            withLabel: 'io_limited' {
                cpus = 1
                memory = 1.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 1
                memory = 6.GB
            }
        }
        docker {
            enabled = true
            temp = 'auto'
        }
    }
    // Hybrid uses docker for io / limited tasks, AWS for the remainder
    hybrid {
        process {
            executor = 'local'
            withLabel: 'io_limited' {
                cpus = 1
                memory = 4.GB
            }
            withLabel: 'mem_veryhigh' {
                executor = 'awsbatch'
                queue = 'spot-test'
                cpus = 32
                memory = 128.GB
            }
        }
        docker {
            enabled = true
            temp = 'auto'
        }
        aws {
            region = 'us-west-2'
            batch {
                jobRole = 'replace'
                volumes = ['/docker_scratch:/tmp:rw']
            }
        }

    } // end hybrid profile
    aws {
        process {
            executor = 'awsbatch'
            withLabel: 'io_limited' {
                queue = 'spot-test'
                cpus = { 1 * task.attempt }
                memory = { 2.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: 'mem_medium' {
                queue = 'spot-test'
                cpus = { 4 * task.attempt }
                memory = { 30.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: 'mem_veryhigh' {
                queue = 'spot-test'
                cpus = { 16 * task.attempt }
                memory = { 120.GB * task.attempt }
                maxRetries = 3
            }
        }
        aws {
            region = 'us-west-2'
            batch {
                jobRole = 'replace'
                volumes = ['/docker_scratch:/tmp:rw']
            }
        }
    }
}
